In [35]:
import pandas as pd 
import numpy as np
import os

folder_path= './PassengerVehicle_Stats'
dfs=[]
files= [f for f in os.listdir(folder_path) if f.endswith('.csv')]

for file in files:
    file_path = os.path.join(folder_path,file)
    df1 = pd.read_csv(file_path)
    dfs.append(df1)

combine_df = pd.concat(dfs, ignore_index=True)
combine_df.to_csv('./vehicles_df.csv', index= False)

In [4]:
df = pd.read_csv('vehicles_df.csv')
df.isna().sum()

Unnamed: 0                                0
Public Vehicle Number                     0
Status                                    0
Vehicle Make                           7668
Vehicle Model                          7852
Vehicle Model Year                     7768
Vehicle Color                          7944
Vehicle Fuel Source                       0
Wheelchair Accessible                     0
Company Name                              0
Address                                7144
City                                   7144
State                                  7144
ZIP Code                               7144
Taxi Affiliation                      37016
Taxi Medallion License Management     37124
Record ID                                 0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66408 entries, 0 to 66407
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          66408 non-null  int64
 1   Public Vehicle Number               66408 non-null  int64
 2   Status                              66408 non-null  object
 3   Vehicle Make                        58740 non-null  object
 4   Vehicle Model                       58556 non-null  object
 5   Vehicle Model Year                  58640 non-null  float64
 6   Vehicle Color                       58464 non-null  object
 7   Vehicle Fuel Source                 66408 non-null  object
 8   Wheelchair Accessible               66408 non-null  object
 9   Company Name                        66408 non-null  object
 10  Address                             59264 non-null  object
 11  City                                59264 non-null  object
 12  State                               59264 non-null  object
 13  ZIP Code                            59264 non-null  float64
 14  Taxi Affiliation                    29392 non-null  object
 15  Taxi Medallion License Management   29284 non-null  object
 16  Record ID                           66408 non-null  object
dtypes: float64(2), int64(2), object(13)
memory usage: 8.6+ MB

In [19]:
(df['Wheelchair Accessible']=='Y').sum()

2496

In [23]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [25]:
(df['Vehicle Model Year'].apply(lambda x: isinstance(x,float))).sum()

66408

In [67]:
df['Vehicle Model Year'].unique()

array([2014., 2010., 2008., 2015., 2012., 2016., 2011., 2017., 2009.,
       2013., 2024., 2005., 2001., 2002., 2000., 1993., 2007., 1998.,
       2006., 1997., 1988., 1990., 2004., 1999., 1986., 1992., 2021.,
       2020., 2023., 2018., 2019., 2022.,   nan, 2003., 2025., 1996.,
       1984., 1994., 1981., 1995., 1991., 1989., 1983., 1987., 1985.,
       1980., 1196.])

In [64]:
#df['Vehicle Model Year']=df['Vehicle Model Year'].apply(lambda x: int(x) if isinstance(x,float) and not np.isnan(x) and x%1 !=0 else x)
#df['Vehicle Model Year']=df['Vehicle Model Year'].astype("int64")
values_replace = [7.,0.]
df['Vehicle Model Year']=df['Vehicle Model Year'].replace(values_replace,np.nan)